.section-header{
    width: 100%;
    height: 120px;
    display: inline-block;

}

.items-header{
    width: 100%;
    height: 90px;
    display: inline-flex;
    background-image: linear-gradient(to right,white,rgb(33,52,96));

}

.logo-header{
    width: 30%;
    height: 90px;
}
.logo-image-header{
    width: 85px;
    margin-left:5vw;
}

.details-header{
    width: 70%;
    height:103px; 
    display: flex;
}
.details-header p{
    font-family: 'Fjalla One', sans-serif;
    font-size:45px;
    margin-top: 20px;
    margin-left:160px;
    width: 155px;
}

.pure-menu-header{
    background-color :rgb(33,52,96);
    height: 45px;
}
.pure-menu-list{
    display:flex;
    justify-content: space-evenly;
}
.pure-menu-item-header a{
    color:white;
    font-family: 'Fjalla One', sans-serif;
    font-size:18px;
    padding-top: 13px;
    text-align: center;
    height: 23px;
}
.pure-menu-item-header a:hover{
    color:black;
}
.pure-menu-item-header a:focus{
    color:black;
}
.pure-menu-item-header button:hover{
    color:black;
}
.pure-menu-item-header button:focus{
    color:black;
}
.pure-menu-item-header button{
    color:white;
    font-family: 'Fjalla One', sans-serif;
    font-size:18px;
    text-align: center;
    border: none;
    background-color: Transparent;
    background-repeat:no-repeat;
    height: 45px;
}
