.login-register-section{
    width: 100%;
    height: 700px;
    background-image: url('../images/LogRegister/background.jpg');
    display: flex;
    font-family: 'Fjalla One', sans-serif;
    font-size:18px;
}
.forms-container{
    width: 700px;
    height: 500px;
    margin-left:auto;
    margin-right:auto;
    margin-top:90px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-image: url('../images/LogRegister/book700.png');
    background-repeat: no-repeat;
}

.forms-container form{
    opacity: 0.5;
}
.forms-container form:hover{
    opacity: 1;
}
.forms-container fieldset{
    margin-top:100px;
}
.fields-form input{
    text-align: center;
}
.pure-menu-button-header{
    margin-left:52px;
    color:black;
}
.pure-menu-button-header:hover{
    color:white;
    background-color:rgb(33,52,96);
}