.slide-show-container{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 100px;
}

.slide-show-container h2 {
    border-bottom: 1px solid rgb(54,84,152);
    text-align: center;
}

.slideshow-container {
    max-width: 900px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
  
  .mySlides {
    display: none;
    width: 900px;
    height: 400px;
    background-color: rgb(226, 231, 243);
  }
  
  .mySlides img {
    width: 300px;
    margin:80px 0 0 50px ;
  }

  .slide-show-ul ul {
    position: relative;
    left: 450px;
    bottom: 240px;
    width: 300px;
  }

  .slide-show-ul ul li {
    padding: 10px;
    font-size: 20px;
  }

  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .numbertext {
    color: black;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

